    /* Menus Horizontal */
    /* Section menus */
    
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        min-width: 16vh;
    }
    
    .section1 {
        border: solid;
        position: relative;
        width: 100%;
        height: 250px;
    }
    
    .menus {
        background-color: #DFDED1;
    }
    
    .logo1 {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: 30px;
        top: 0px;
    }
    
    .section2 {
        border: solid;
        position: relative;
        width: 100%;
        height: 350px;
        display: block;
    }
    
    .cv {
        width: 60px;
        height: 20px;
        position: absolute;
        bottom: 40px;
        right: -15px;
        text-align: center;
        background-color: blue;
    }
    
    .hub {
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 40px;
        right: 100px;
    }
    
    .link {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 42px;
        right: 175px;
    }
    /* .c */
    
    h3 {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 50%;
        border-radius: 100px;
        border: solid;
        /* border: solid; */
        /* transform: scale();  */
        width: 150px;
        height: 30px;
        margin-left: 950px;
        border-color: goldenrod;
    }
    
    .photos01 {
        width: 500px;
        margin: px;
        margin-right: 200px;
        margin-left: 350px;
        height: 250px;
        position: absolute;
        top: px;
        right: px;
        ;
    }
    
    .texte01 {
        margin-left: 1000px;
        position: absolute;
        bottom: px;
        top: px;
        font-size: x-large;
        font-size: xx-large;
        font-family: sans-serif;
    }
    
    .bouton {
        margin-left: 1345px;
        margin-bottom: 80px;
        position: absolute;
        bottom: -80px;
    }
    
    .bouton1 {
        position: absolute;
        right: 250px;
        bottom: -40px;
        top: px;
        margin-bottom: 80px;
        margin-top: 50px;
        margin-left: 100px;
        text-align: center;
    }
    
    .btn {
        text-align: center;
        border-radius: 30%;
        width: 130px;
        height: 40px;
        background-color: #23DB80;
    }
    
    .photos1 {
        width: 50px;
        height: 50px;
    }
    
    .section3 {
        border: solid;
        position: relative;
        width: 100%;
        height: 400px;
    }
    
    .photos02 {
        width: 450px;
        margin-left: 1200px;
        margin-top: 10px;
    }
    
    .texte02 {
        margin-left: 350px;
        position: absolute;
        top: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: medium;
        font-size: 20px;
    }
    
    .section4 {
        border: solid;
        position: relative;
        width: 100%;
        height: 700px;
    }
    
    .Acad {
        margin: 20px;
        margin-top: -400px;
        position: relative;
        top: 25px;
    }
    
    .titre1 {
        border-radius: 40%;
        position: absolute;
        left: 850px;
        width: 150px;
        border: solid;
        height: px;
        padding: 20px;
        left: 1600px;
        top: 110px;
        text-align: center;
    }
    
    .titre2 {
        margin: 50px;
        border-radius: 40%;
        width: 150px;
        border: solid;
        height: px;
        padding: 30px;
    }
    
    .image1 {
        border: solid;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    .desc1 {
        border: solid;
        right: 20px;
        width: 200px;
        height: 80px;
        margin-left: 100px;
        position: relative;
        top: -80px;
    }
    
    .image2 {
        border: solid;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    .desc2 {
        border: solid;
        right: 20px;
        width: 200px;
        height: 80px;
        margin-left: 100px;
        position: relative;
        top: -80px;
    }
    
    .image3 {
        border: solid;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    .desc3 {
        border: solid;
        right: 20px;
        width: 200px;
        height: 80px;
        margin-left: 100px;
        position: relative;
        top: -80px;
    }
    
    .background {
        display: flex;
    }
    
    .exp,
    .academy {
        flex: 0 1 50%;
        margin-top: auto;
    }
    
    .acad__item {
        display: flex;
        flex-direction: row;
        margin: 3rem 0;
        padding: 0 2rem;
        margin-top: auto;
    }
    
    .acad__item--img {
        height: 60px;
        width: 60px;
        border: 2px solid black;
        border-radius: 50%;
        flex: 0 1 30%;
        margin-right: 2rem;
    }
    
    .acad__item--desc {
        height: 110px;
        width: 200px;
        border: 2px solid black;
        flex: 0 1 70%;
    }
    
    .exp {
        margin-top: auto;
        position: relative;
    }
    
    .image01 {
        border: solid;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-left: 750px;
        position: relative;
        top: 10px;
    }
    
    .desc01 {
        border: solid;
        right: 20px;
        width: 200px;
        height: 80px;
        margin-left: 850px;
        position: relative;
        top: -65px;
    }
    
    .image02 {
        border: solid;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-left: 750px;
        position: relative;
        top: 150px;
    }
    
    .desc02 {
        border: solid;
        right: 20px;
        width: 200px;
        height: 80px;
        margin-left: 850px;
        position: relative;
        top: -70px;
    }
    
    .image03 {
        border: solid;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-left: 750px;
        position: relative;
        top: -130px;
    }
    
    .desc03 {
        border: solid;
        right: 20px;
        width: 200px;
        height: 80px;
        margin-left: 850px;
        position: relative;
        top: -60px;
    }
    
    .section5 {
        border: solid;
        width: 100%;
        height: 230px;
    }
    
    .compg {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 15%;
        padding: px;
    }
    
    .diag1 {
        width: 45px;
        height: 150px;
        border: solid;
        display: flex;
        margin-left: px;
        background-color: #ECA86B;
        border-color: #23DB80;
    }
    
    .diagtxt1 {
        margin-left: 60px;
        margin-bottom: 135px;
    }
    
    .diag2 {
        width: 45px;
        height: 130px;
        border: solid;
        border-color: #23DB80;
        background-color: #5C4D17;
    }
    
    .diagtxt2 {
        margin-left: 300px;
        margin-bottom: 110px;
    }
    
    .diag3 {
        width: 45px;
        height: 125px;
        border: solid;
        background-color: #8F6410;
        border-color: #23DB80;
    }
    
    .diagtxt3 {
        margin-left: 300px;
        margin-bottom: 105px;
        border-color: #23DB80;
    }
    
    .diag4 {
        width: 45px;
        height: 120px;
        border: solid;
        background-color: #6D7EE0;
        border-color: #23DB80;
    }
    
    .diagtxt4 {
        margin-left: 400px;
        margin-bottom: 88px;
    }
    
    .diag5 {
        width: 45px;
        height: 100px;
        border: solid;
        background-color: #ECA86B;
        border-color: #23DB80;
    }
    
    .diagtxt5 {
        margin-left: 200px;
        margin-bottom: 88px;
        border-color: #23DB80;
    }
    
    .diag6 {
        width: 45px;
        height: 100px;
        border: solid;
        background-color: #ECC73B;
        border-color: #23DB80;
    }
    
    .diagtxt6 {
        margin-left: 200px;
        margin-bottom: 80px;
    }
    
    .section6 {
        border: solid;
        position: relative;
        width: 100%;
        height: px
    }
    
    .projet {
        display: flex;
        padding: 40px;
        margin: 40px;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    
    .projet1 {
        position: relative;
    }
    
    .imagep01 {
        width: 500px;
        height: 400px;
    }
    
    .imagep02 {
        width: 500px;
        height: 400px;
    }
    
    .imagep03 {
        width: 500px;
        height: 400px;
    }
    
    .section7 {
        border: solid;
        position: relative;
        width: 100%;
        height: 500px;
    }
    
    .foot {
        display: flex;
        margin-left: 30px;
    }
    
    .joindre {
        margin-right: 100px;
    }
    
    .call {
        position: absolute;
        left: 15px;
        top: 5px;
        border: solid;
        border-radius: 100%;
        width: 70px;
        height: 70px;
        text-align: center;
    }
    
    .email {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 300px;
        left: 80px;
    }
    
    .tel {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 200px;
        left: 85px;
    }
    
    .monadd {
        width: 30px;
        height: 30px;
    }
    
    .locali {
        width: 170px;
        height: 100px;
        position: absolute;
        top: 220px;
        right: 150px;
    }
    
    .lieux {
        position: absolute;
        right: 190px;
        top: 160px;
    }
    
    .address {
        margin-left: 1500px;
        text-align: center;
    }
    
    .contact {
        position: relative;
    }
    
    .add {
        border: solid;
        position: absolute;
        right: 80px;
        width: 50px;
        height: 50px;
        border-radius: 100%
    }
    
    .ad {
        border-radius: 100%;
        position: absolute;
        right: 80px;
        width: 80px;
        height: 80px;
    }
    
    .formulaire {
        margin-left: 00px;
        position: absolute;
        right: 900px;
    }
    
    #btn {
        width: 100px;
        height: 25px;
    }
    
    .footer {
        text-align: center;
        border: solid;
        background-color: rgb(104, 48, 8);
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    
    .mail0 {
        position: absolute;
        left: 150px;
        top: 290px
    }
    
    .contact {
        position: relative;
    }
    
    .celtxt {
        position: relative;
        top: 100px;
        left: 120px;
    }
    
    .sign {
        color: aliceblue;
    }
    
    nav ul {
        padding: auto;
        margin: 20px;
        list-style-type: none;
        float: right;
        top: 80px;
        right: 40px;
        position: absolute;
        top: 77px;
        left: 1000px;
    }
    
    nav li {
        display: inline-block;
        border-radius: 30px;
        text-align: center;
        line-height: 30px;
        padding: 0px;
        margin: 0px;
        border: solid 1px;
        background-color: aliceblue;
    }
    
    nav li a {
        display: block;
        text-decoration: none;
        color: #1E2021;
    }
    
    nav li :hover {
        background-color: rgb(58, 223, 206);
        border-radius: 30px;
    }
    
    .nomtitre {
        width: 50%;
        position: absolute;
        right: 700px;
        top: 20px;
        margin: 20px;
    }